<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
  </appSettings>
<!--  <system.diagnostics>

    <trace autoflush="true" />

    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="MyTraceFile"/>
          <add name="MyConsole"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add
        name="MyTraceFile"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="System.Net.trace.log"
                />
      <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>

    <switches>
      <add name="System.Net" value="Information" />
      //           <add name="System.Net" value="Verbose" />
    </switches>

  </system.diagnostics>-->

  <userSettings>
    <Converter.Properties.Settings>
      <setting name="CredentialsClientId" serializeAs="String">
        <value/>
      </setting>
      <setting name="CredentialsSecret" serializeAs="String">
        <value/>
      </setting>
      <setting name="DirectoriesTemplates" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="DirectoriesOutput" serializeAs="String">
        <value>.\</value>
      </setting>
      <setting name="ContestId" serializeAs="String">
        <value/>
      </setting>
      <setting name="UpdateCycle" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
    </Converter.Properties.Settings>
  </userSettings>
</configuration>
